body { 
    margin: 0 auto;
    overflow: visible;
    background-color: #ebf5fa;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");

} 

.navbar.navbar-expand.navbar-dark.bg-dark{
    background-color: #001238!important;
    color: white!important;
    font-family: 'Julius Sans One', sans-serif; 
}

.navbar-brand {
    font-size: xx-large;
    color: white!important;
    font-family: 'Julius Sans One', sans-serif;
    max-width: 960px;
    margin: auto 30px auto 95px;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    padding: auto;
}
.card {
    position: relative;
    resize: both;
    top: 50px;
}

.card-img, .card-img-overlay {
    height: 200px;
    width: 200px;
    margin: 20px;
    left: 15px;
}

.section{
    color: #001238;
    font-family: 'Julius Sans One', sans-serif, serif;
    font-size: xx-large;
    padding: 0 10px;
    border-bottom: solid lightgray;
}

p {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 15px 20px;
    color: #777777;
    line-height: 1.5;
    float: left; 
}
 
.me {
    margin: 5px 20px 5px 10px;
}

.contact-wrapper {
    width: 960px;
    position: relative;
    margin: auto;
    top: 50px;
}  

.card-title {
    position: relative;
    bottom: -115px;
    background-color: #001238;
    padding: 10px 10px;
    margin: 0 -20px 0 -20px;
    display: block;
    color: white;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}