body { 
    margin: 0 auto;
    overflow: visible;
    background-color: #fafcfd;
} 

.welcome-background {
    background-color: #001238;
    color: white!important;
    font-family: 'Julius Sans One', sans-serif; 
}

.welcome-card, .welcome-wrapper, .welcome-card-body, .welcome-enter {
    position: relative;
    margin: auto;
    max-width: 300px;
    top: 150px;
    text-align: center;

}

a {
    color: white
}


.navbar.navbar-expand.navbar-dark.bg-dark{
    background-color: #001238!important;
    color: white!important;
    font-family: 'Julius Sans One', sans-serif; 
}

.navbar-brand {
    font-size: xx-large;
    color: white!important;
    font-family: 'Julius Sans One', sans-serif;
    max-width: 960px;
    margin: auto 30px auto 95px;
}

.wrapper {
    max-width: 745px;
    margin: auto;
    padding: auto;
    display: block;
    margin-left: 240px;
}

.card {
    position: relative;
    resize: both;
    margin-top: 50px;
    border: none;
    background-color: #fafcfd;
}

.card-img, .card-img-overlay {
    height: 200px;
    width: 200px;
    margin: 20px;
    left: 15px;
}

.section{
    color: #001238;
    font-family: 'Julius Sans One', sans-serif, serif;
    font-size: xx-large;
    padding: 0 10px;
    border-bottom: solid lightgray;
}

p, .my_text {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 15px 20px;
    color: #777777;
    line-height: 1.5;
    float: left; 
}
 
ul, li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.me {
    margin: 5px 20px 5px 10px;
    border-radius: 50em;
}

.contact-wrapper {
    width: 960px;
    position: relative;
    margin: auto;
    top: 50px;
}  

.card-title {
    position: relative;
    bottom: -115px;
    background-color: #001238;
    padding: 10px 10px;
    margin: 0 -20px 0 -20px;
    display: block;
    color: white;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 215px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background-color: #001238!important;
    font-family: 'Julius Sans One', sans-serif;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 10px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: white!important;
    display: block;
    text-align: center;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

html {
    scroll-behavior: smooth;
  }
  
i {
    color: black!important;
    font-size: 3em;     
  }

.connect {
    display: inline-block;
    margin: 15px;
  }